.pane {
	-fx-background-color: #03A9F4;
}

.txt {
	-fx-font-size: 20pt;
    -fx-font-family: "Segoe Marker";
    -fx-text-fill: white;
    -fx-wrap-text: true;
}

.btt {
	-fx-font-size: 20pt;
	-fx-font-family: "Segoe Marker";
	-fx-background-color: #009688;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-radius: 0px;
	-fx-wrap-text: true;
	-fx-text-alignment: center;
	-fx-text-wrap: true;
}

.btt:hover {
	-fx-background-color: #B3E5FC;
	-fx-text-fill: black;
	-fx-font-weight: bold;
}

.inputs {
	-fx-font-size: 20pt;
    -fx-font-family: "Segoe Marker";
	-fx-background-color: #B3E5FC;
}

.cols {
	-fx-background-color: #0288D1;
}

.cols:hover {
	-fx-background-color: #B3E5FC;
}

.emptyCirc {
	-fx-fill: white;
	-fx-stroke: black;
	-fx-stroke-width: 2px;
}

.playerCirc {
	-fx-fill: red;
	-fx-stroke: black;
	-fx-stroke-width: 2px;
}

.compCirc {
	-fx-fill: yellow;
	-fx-stroke: black;
	-fx-stroke-width: 2px;
}

.winCirc {
	-fx-fill: orange;
	-fx-stroke: black;
	-fx-stroke-width: 2px;
}